.groopin-app {
  min-height: 100vh;
  background-color: #ffffff;
  color: #000000;
}

.app-shell {
  min-height: 100vh;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
